[Unit]
Description=S2C2S Gateway Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/s2c2s
ExecStart=/usr/bin/python3 /root/s2c2s/gateway.py
Restart=always

[Install]
WantedBy=multi-user.target